<div class="jumbotron jumbotron-fluid  bg-dark mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h5 class="display-7 text-white">
                    Short Links
                </h5>
                <hr class="bg-white text-white">
                <ul class="list-unstyled">
                    <li *ngFor="let i of [1,1,1,1,1,1,1,1]"
                        class="mb-2">
                        <a href="#" class="text-white">
                            <i class="fa fa-caret-right"></i>
                            <span class="ml-1">Short Link.....</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h5 class="display-7 text-white">
                    Short Links
                </h5>
                <hr class="bg-white text-white">
                <ul class="list-unstyled">
                    <li *ngFor="let i of [1,1,1,1,1,1,1,1]"
                        class="mb-2">
                        <a href="#" class="text-white">
                            <i class="fa fa-caret-right"></i>
                            <span class="ml-1">Short Link.....</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h5 class="display-7 text-white">
                    Short Links
                </h5>
                <hr class="bg-white text-white">
                <ul class="list-unstyled">
                    <li *ngFor="let i of [1,1,1,1,1,1,1,1]"
                        class="mb-2">
                        <a href="#" class="text-white">
                            <i class="fa fa-caret-right"></i>
                            <span class="ml-1">Short Link.....</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>