<div class="container py-5 my-5">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card border shadow">
                <div class="card-header">
                    <h4 class="display-5 text-center"> {{product.name}}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <ul class="list-unstyled ">
                                <li class="mt-2">
                                    <span class="font-weight-bold "> Name :</span>
                                    <span class="display-8"> {{product.name}}</span>
                                </li>
                                <li class="mt-2">
                                    <span class="font-weight-bold"> Category :</span>
                                    <span class="display-8"> {{product.category}}</span>
                                </li>
                                <li class="mt-2">
                                    <span class="font-weight-bold"> Price :</span>
                                    <span class="display-8"> {{product.price}}</span>
                                </li>
                                <li class="mt-2">
                                    <span class="font-weight-bold"> Discount :</span>
                                    <span class="display-8">{{product.discount}}</span>
                                </li>
                                <li class="mt-2">
                                    <span class="font-weight-bold"> Amount Left :</span>
                                    <span class="display-8"> {{product.amountLeft}}</span>
                                </li>
                                <li class="mt-2">
                                    <span class="font-weight-bold"> IS New ?:</span>
                                    <span class="display-8"> {{product.isNew}}</span>
                                </li>
                                <li class="mt-2">
                                    <span class="font-weight-bold"> Discription:</span>
                                    <span class="display-8"> {{product.description}}</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-12 col-lg-3">
                            <img src="{{product.imagePath}}" class="img-fluid rounded" alt="AVA">
                            <div class="mt-2 text-center">
                                <button class="btn btn-outline-warning" (click)="onAddToCart()"> Add To Cart </button>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>