<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12">
            <div class="page-title-text text-center my-5">
                <h4 class="display-7 lead py-5">
                    Contact / <a routerLink="/">Home</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h4 class="display-6">
                GET IN TOUCH
            </h4>
            <hr class="pull-left d-inline-block" width="200px">
            <div class="clearfix"></div>
            <p class="py-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has beening the stand ard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrames bled it make a type specimen book.
            </p>
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-location-arrow mr-3"></i><span>My Company, 45 Puffin Street 124Poffinville France.</span>
                </li>
                <li>
                    <i class="fa fa-phone mr-3"></i><span>01003001157</span>
                </li>
                <li>
                    <i class="fa fa-inbox mr-3"></i><span>My Company, 45 Puffin Street 1245 Poffinville France.</span>

                </li>
            </ul>


        </div>
        <div class="col-12 col-md-6">
            <h4 class="display-6">
                HAVE A QUESTIONS?
            </h4>
            <hr class="pull-left" width="200px">
            <div class="clearfix"></div>

            <form>
                <input class="form-control" type="text" placeholder="Name">
                <input class="form-control" type="email" placeholder="Email">
                <input class="form-control" type="text" placeholder="Subject">
                <textarea class="form-control" rows="4" placeholder="Msg"></textarea>
                <button class="btn btn-outline-secondary mt-2 mb-5"> SEND</button>
            </form>
        </div>
    </div>

</div>