i{
    border: 1px solid #ef6644;
    border-radius: 50%;
    color: #ef6644;
    padding: 15px;

}
i:hover{
    background: #ef6644 none repeat scroll 0 0;
    border-color: #ef6644;
    color: #FFFFFF;

}