<section class="text-center vistor">
    <div id="xs" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur ex aliquid esse iusto neque mollitia fugiat itaque, magni nam. </p>
                <h4> Hisham </h4>

            </div>
            <div class="carousel-item">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores quo reprehenderit, tempora suscipit cum officia id ducimus aperiam dol </p>
                <h4> Barakat </h4>
            </div>

            <div class="carousel-item">
                <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum iure amet aliquid aperiam quisquam esse corporis deserunt ipsum unde !</p>
                <h4>Mohamed </h4>

            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#xs" data-slide-to="0" class="active"> <img src= "../../assets/images/team-1.jpg" alt="1"></li>
                <li data-target="#xs" data-slide-to="1"> <img src="../../assets/images/team-2.jpg" alt="2" > </li>
                <li data-target="#xs" data-slide-to="2"> <img src="../../assets/images/team-3.jpg" alt="3"> </li>

            </ol>

        </div>



    </div>







</section>