<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12">
            <div class="page-title-text text-center my-5">
                <h4 class="display-7 lead py-5">
                    My Cart / <a routerLink="/">Home</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row mt-2">
        <!--<div class="col-12 ">-->
            <!--<h3 class="text-center display-5"> My Cart </h3>-->
        <!--</div>-->
        <div class="col-12 mt-2">
            <div class="card shadow border">
                <div class="card-body">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product Name </th>
                            <th scope="col">Amount </th>
                            <th scope="col">Price / Price</th>
                            <th scope="col">Discount / Pricee</th>
                            <th scope="col">Price Aftr Discount</th>
                            <th scope="col">Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of cartitems; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{this.productService.getProductById(item.productId).name}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{this.productService.getProductById(item.productId).price}}</td>
                            <td>{{this.productService.getProductById(item.productId).discount}}</td>
                            <td> {{clcOverallPrice(this.productService.getProductById(item.productId).price,
                                this.productService.getProductById(item.productId).discount,item.amount) |currency}}
                            </td>
                            <td>

                                <button class="btn btn-danger btn-sm" (click)="onRemoveItemClick()">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" disabled=""></td>
                            <td class="bg-success text-white">
                                {{clcTotalPrice()|currency}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>